<h2><%= @project.name  %></h2>
<h3><%= @project.description %></h3>
<p><%= @project.teammate %></p>
<p><%= @project.code %></p>

<%= link_to "Edit",  edit_project_path(@project), class: 'search_btn'  %>
<%= link_to "Delete #{@project.name}",
            project_path(@project),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: 'search_btn' %>

defefe