<div class="circle1">
    <%= link_to "MES INFOS", profile_path(infos) %>
</div>

<div class="circle2">
    <%= link_to "AVIS RECRUTEURS", profile_path %>
</div>

<div class="circle3">
    <%= link_to "MES PROJETS", profile_path %>
</div>

<div class="circle4">
    <%= link_to "NEW TEAM PROJECT", profile_path %>
</div>

<%= image_tag "logogal.PNG" , class: "profil_photo"%>