<div class="circle1">
<%# le btn doit renvoyer vers la page "profile/info, je suppose ça va être un truc avec current-user"%>
    <%= link_to "MES INFOS", profile_info_path %>
</div>

<div class="circle2">
    <%= link_to "PUBLIER UN PROJET", profile_path %>
</div>

<div class="circle3">
    <%= link_to "MES PROJETS", profile_path %>
</div>

<div class="circle4">
    <%= link_to "NEW TEAM PROJECT", new_project_path(@project)  %>
</div>

<%= image_tag "logogal.PNG" , class: "profil_photo"%>